*/*.a
*/*.bundle
*/*.o
*/*.so
*/*.swp
*/Makefile
*/*.pc
*/*.tar.gz
*/tmp
*/.*

packages/apt/repositories/
packages/yum/repositories/
packages/source/files/
packages/windows/source/
packages/windows/files/
packages/windows/dist-*
travis/
