*.la
*.lo
*.o
*.exe
*.pyc
*.gcno
*.gcda
.deps
.ditz-config
.gdb_history
.libs
*~
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.sub
/configure
/depcomp
/dist
/install-sh
/libtool*
/ltmain.sh
/lt*.m4
/missing
/groonga.pc
/groonga.spec
/stamp-h1
/src/groonga
/src/groonga-benchmark
/src/grnslap
Makefile
Makefile.in
version.sh
/examples/kv
/examples/index
/doc/*-stamp
/doc/locale/*/*-stamp
/doc/locale/*/doctrees/
/doc/locale/*/html/
/doc/locale/*/dirhtml/
/doc/locale/*/htmlhelp/
/doc/locale/*/json/
/doc/locale/*/latex/
/doc/locale/*/qthelp/
/doc/locale/*/rdoc/
/doc/locale/*/man/
/doc/locale/*/pickle/
/doc/locale/*/textile/
/doc/locale/*/pdf/
/doc/locale/*/LC_MESSAGES/*.mo
/doc/locale/*/LC_MESSAGES/*.pot
/doc/locale/*/LC_MESSAGES/doctrees/
/doc/locale/*/LC_MESSAGES/pot-build-stamp
/doc/commands_not_implemented/
/doc/sphinx/
/lib/icudump
/coverage
/coverage.info
/test/unit/lib/*-*.*.*/
/test/benchmark/tmp/
/test/benchmark/fixtures/geo-select/13_2010.CSV
/test/benchmark/fixtures/geo-select/load.grn
/test/benchmark/bench-geo-select
/test/benchmark/bench-normalize
/packages/apt/debian/pool/*/*/*/*/*.diff.gz
/packages/apt/debian/pool/*/*/*/*/*.tar.gz
/packages/apt/debian/pool/*/*/*/*/*.build
/packages/apt/debian/pool/*/*/*/*/*.changes
/packages/apt/debian/pool/*/*/*/*/*.deb
/packages/apt/debian/pool/*/*/*/*/*.dsc
/packages/apt/debian/dists/
/packages/apt/debian/*.db
/packages/apt/debian/*.conf
/packages/apt/ubuntu/pool/*/*/*/*/*.diff.gz
/packages/apt/ubuntu/pool/*/*/*/*/*.tar.gz
/packages/apt/ubuntu/pool/*/*/*/*/*.build
/packages/apt/ubuntu/pool/*/*/*/*/*.changes
/packages/apt/ubuntu/pool/*/*/*/*/*.deb
/packages/apt/ubuntu/pool/*/*/*/*/*.dsc
/packages/apt/ubuntu/dists/
/packages/apt/ubuntu/*.db
/packages/apt/ubuntu/*.conf
/configure.lineno
/packages/rpm/*/*.spec
/packages/yum/groonga.repo
/packages/yum/RPM-GPG-KEY-groonga
/packages/yum/fedora/
/packages/yum/centos/
/packages/source/files/
/packages/windows/tmp/
/packages/windows/dist-x86/
/packages/windows/dist-x64/
/packages/windows/files/
/packages/windows/LICENSE
/packages/windows/setup-x86.nsi
/packages/windows/setup-x64.nsi
/packages/*.tar.gz
/examples/dictionary/db/
/examples/dictionary/*.gz
/examples/dictionary/gene95-dictionary/
/misc/
/src/suggest/groonga-suggest-httpd
/src/suggest/groonga-suggest-learner
/src/suggest/groonga-suggest-create-dataset
/tmp-doc/
/test/unit/Gemfile.lock
/test/function/grntest
/*.tar.gz
