[submodule "vendor/mruby-source"]
	path = vendor/mruby-source
	url = https://github.com/mruby/mruby.git
[submodule "vendor/onigmo-source"]
	path = vendor/onigmo-source
	url = https://github.com/k-takata/Onigmo.git
[submodule "test/mruby/rroonga"]
	path = test/mruby/rroonga
	url = https://github.com/ranguba/rroonga.git
[submodule "vendor/ngx_mruby-source"]
	path = vendor/ngx_mruby-source
	url = https://github.com/matsumoto-r/ngx_mruby.git
