*.la
*.lo
*.o
*.pyc
.deps
.ditz-config
.gdb_history
.libs
*~
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/groonga.pc
/groonga.spec
/stamp-h1
/src/groonga
/src/grnslap
Makefile
Makefile.in
version.sh
/examples/kv
/examples/index
/doc/ja/.buildinfo
/doc/ja/_sources/
/doc/ja/_static/
/doc/ja/build/
/doc/ja/modindex.html
/doc/ja/objects.inv
/lib/icudump
