[submodule "vendor/mruby-source"]
	path = vendor/mruby-source
	url = https://github.com/mruby/mruby.git
[submodule "vendor/onigmo-source"]
	path = vendor/onigmo-source
	url = https://github.com/k-takata/Onigmo.git
[submodule "test/query_optimizer/rroonga"]
	path = test/query_optimizer/rroonga
	url = https://github.com/ranguba/rroonga.git
