[submodule "vendor/mruby-source"]
	path = vendor/mruby-source
	url = https://github.com/komainu8/mruby.git
[submodule "vendor/onigmo-source"]
	path = vendor/onigmo-source
	url = https://github.com/k-takata/Onigmo.git
[submodule "test/mruby/rroonga"]
	path = test/mruby/rroonga
	url = https://github.com/ranguba/rroonga.git
[submodule "vendor/ngx_mruby-source"]
	path = vendor/ngx_mruby-source
	url = https://github.com/matsumoto-r/ngx_mruby.git
[submodule "vendor/groonga-log-source"]
	path = vendor/groonga-log-source
	url = https://github.com/groonga/groonga-log.git
[submodule "vendor/apache-arrow-source"]
	path = vendor/apache-arrow-source
	url = https://github.com/apache/arrow.git
