notifications:
  - provider: Webhook
    url: https://webhook.commit-email.info/

# Don't skip on tag.
# See also: https://www.appveyor.com/blog/2018/09/11/how-to-skip-build-matrix-jobs-conditionally/
for:
  - matrix:
      only:
        - JOB_TYPE: tagged
    skip_non_tags: true
  - matrix:
      only:
        - JOB_TYPE: non-tag
    skip_tags: true
    skip_commits:
      files:
        - "**/Makefile.am"
        - ".github/"
        - ".travis.yml"
        - "benchmark/"
        - "configure.ac"
        - "doc/"
        - "docker-compose.yml"
        - "dockerfiles/"
        - "examples/"
        - "packages/"
        - "tools/"
        - "travis/"

version: "{build}"
clone_depth: 10

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      VS_VERSION: 15
      ARCH: amd64
      JOB_TYPE: tagged
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      VS_VERSION: 14
      ARCH: amd64
      JOB_TYPE: tagged
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      VS_VERSION: 15
      ARCH: x86
      JOB_TYPE: tagged
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      VS_VERSION: 14
      JOB_TYPE: tagged
      ARCH: x86

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      VS_VERSION: 15
      ARCH: amd64
      JOB_TYPE: non-tag
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      VS_VERSION: 14
      ARCH: amd64
      JOB_TYPE: non-tag
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      VS_VERSION: 15
      ARCH: x86
      JOB_TYPE: non-tag
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      VS_VERSION: 14
      JOB_TYPE: non-tag
      ARCH: x86

init:
  - ps: Set-WinSystemLocale ja-JP
  - ps: Start-Sleep -s 10
  - ps: Restart-Computer

install:
  - set PATH=C:\Ruby25-x64\bin;%PATH%
  - set PATH=C:\msys64\usr\bin;%PATH%
  - set BASE_URL=ttps://repo.msys2.org/msys
  # mirror
  - set BASE_URL=https://sourceforge.net/projects/msys2/files/REPOS/MSYS2
  - curl --location --remote-name %BASE_URL%/x86_64/msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz
  - pacman --noconfirm --upgrade msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz
  - pacman --sync --refresh --sysupgrade --sysupgrade --noconfirm
  - taskkill /F /FI "MODULES eq msys-2.0.dll"
  - if "%VS_VERSION%" == "15" if "%ARCH%" == "x86" set VS2017_X86=TRUE
  - if "%VS_VERSION%" == "15" if "%ARCH%" == "amd64" set VS2017_AMD64=TRUE
  - if "%VS2017_X86%" == "TRUE"
      call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars32.bat"
  - if "%VS2017_AMD64%" == "TRUE"
      call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
  - if not "%VS_VERSION%" == "15"
      call
      "C:\Program Files (x86)\Microsoft Visual Studio %VS_VERSION%.0\VC\vcvarsall.bat"
      %ARCH%
  # - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - tzutil /s "Tokyo Standard Time"
  # - choco install -y imdisk-toolkit
  # - mkdir tmp
  # - imdisk -a -t file -m tmp -o awe -s 1G -p "/fs:ntfs /q /y"
  - set GROONGA_INSTALL_SUB_FOLDER=インストール
  #- set GROONGA_INSTALL_SUB_FOLDER=install
  - ps: |
      $Env:GROONGA_VERSION = (Get-Content base_version)
      if ($Env:APPVEYOR_REPO_TAG -eq "false") {
        $Env:GROONGA_VERSION += "-" + $Env:APPVEYOR_REPO_COMMIT.Substring(0, 7)
      }
      $Env:GROONGA_INSTALL_FOLDER = "groonga-" + $Env:GROONGA_VERSION
      if ($Env:ARCH -eq "x86") {
        $Env:GROONGA_INSTALL_FOLDER += "-x86"
      } else {
        $Env:GROONGA_INSTALL_FOLDER += "-x64"
      }
      switch -Exact ($Env:VS_VERSION) {
        "15" {
          $Env:GROONGA_INSTALL_FOLDER += "-vs2017"
        }
        "14" {
          $Env:GROONGA_INSTALL_FOLDER += "-vs2015"
        }
      }
      "GRN_VERSION=" + $Env:GROONGA_VERSION | Set-Content version.sh
      $Env:FULL_GROONGA_INSTALL_FOLDER = $Env:APPVEYOR_BUILD_FOLDER + "\" + $Env:GROONGA_INSTALL_SUB_FOLDER + "\" + $Env:GROONGA_INSTALL_FOLDER

build_script:
  - git submodule update --init --recursive
  - cd vendor
  - ruby download_groonga_normalizer_mysql.rb
  - ruby download_lz4.rb
  - ruby download_mecab.rb
  - ruby download_message_pack.rb
  - ruby download_rapidjson.rb
  - ruby download_xxhash.rb
  - cd ..
  - set CMAKE_GENERATOR_NAME=Visual Studio %VS_VERSION%
  - if "%VS_VERSION%" == "14"
      set CMAKE_GENERATOR_NAME=%CMAKE_GENERATOR_NAME% 2015
  - if "%VS_VERSION%" == "15"
      set CMAKE_GENERATOR_NAME=%CMAKE_GENERATOR_NAME% 2017
  - if "%ARCH%" == "amd64"
      set CMAKE_GENERATOR_NAME=%CMAKE_GENERATOR_NAME% Win64
  - set CMAKE_BUILD_PARALLEL_LEVEL=4
  - set GRN_WITH_APACHE_ARROW=ON
  - if "%ARCH%" == "x86"
      set GRN_WITH_APACHE_ARROW=OFF
  - if "%GRN_WITH_APACHE_ARROW%" == "ON"
      mkdir ..\apache-arrow-build
  - if "%GRN_WITH_APACHE_ARROW%" == "ON"
      cmake
        -S vendor\apache-arrow-source\cpp
        -B ..\apache-arrow-build
        -G "%CMAKE_GENERATOR_NAME%"
        -DARROW_VERBOSE_THIRDPARTY_BUILD=ON
        -DBOOST_SOURCE=BUNDLED
        -DCMAKE_BUILD_TYPE=Release
        -DCMAKE_INSTALL_PREFIX=%FULL_GROONGA_INSTALL_FOLDER%
  - if "%GRN_WITH_APACHE_ARROW%" == "ON"
      cmake --build ..\apache-arrow-build --config Release
  - if "%GRN_WITH_APACHE_ARROW%" == "ON"
      cmake --build ..\apache-arrow-build --config Release --target Install
  - cmake .
      -G "%CMAKE_GENERATOR_NAME%"
      -DCMAKE_INSTALL_PREFIX=%FULL_GROONGA_INSTALL_FOLDER%
      -DGRN_WITH_APACHE_ARROW=%GRN_WITH_APACHE_ARROW%
      -DGRN_WITH_MRUBY=ON
  - cmake --build . --config RelWithDebInfo
  - cmake --build . --config RelWithDebInfo --target Install
  - move
      %FULL_GROONGA_INSTALL_FOLDER%\share\groonga\html\admin
      %FULL_GROONGA_INSTALL_FOLDER%\share\groonga\html\admin.old
  - ps: |
      Invoke-WebRequest `
        -Uri https://packages.groonga.org/source/groonga-admin/groonga-admin.tar.gz `
        -OutFile groonga-admin.tar.gz
  - tar xzf groonga-admin.tar.gz
  - cd groonga-admin-*
  - move html %FULL_GROONGA_INSTALL_FOLDER%\share\groonga\html\admin
  # Install groonga-admin license files
  - mkdir %FULL_GROONGA_INSTALL_FOLDER%\share\groonga\groonga-admin
  - for %%i in ( LICENSE README.md ) do ( copy %%i %FULL_GROONGA_INSTALL_FOLDER%\share\groonga\groonga-admin\ )
  # Install msgpack license files
  - cd %APPVEYOR_BUILD_FOLDER%\vendor\msgpack-*
  - copy NOTICE %FULL_GROONGA_INSTALL_FOLDER%\share\groonga\msgpack\
  - cd %APPVEYOR_BUILD_FOLDER%

before_test:
  - git clone --depth 1
      https://github.com/groonga/grntest.git
      test\command\grntest
  - cd test\command\grntest
  - bundle install --binstubs=..\bin
  - cd ..\..\..
  - del test\command\suite\select\filter\equal\vector_element_float.test
  - ps: |
      Copy-Item -Recurse `
        vendor\plugins\groonga-normalizer-mysql\test\suite `
        test\command\suite\groonga-normalizer-mysql

test_script:
  - set GRN_EXPR_OPTIMIZE=yes
  - ruby test\command\bin\grntest
      --groonga %FULL_GROONGA_INSTALL_FOLDER%\bin\groonga.exe
      --base-directory test\command
      --reporter mark
      --n-workers %NUMBER_OF_PROCESSORS%
      --timeout 60
      --read-timeout 30
      --n-retries 2
      %CD%\test\command\suite
  - ruby test\command_line\run-test.rb
      --groonga-install-prefix=%FULL_GROONGA_INSTALL_FOLDER%

# Enable this to debug on AppVeyor
# on_failure:
#   - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

on_finish:
  - cd %GROONGA_INSTALL_SUB_FOLDER%
  - set ARTIFACT=%GROONGA_INSTALL_FOLDER%.zip
  - ps: |
      Compress-Archive `
        -Path $Env:FULL_GROONGA_INSTALL_FOLDER `
        -DestinationPath $Env:ARTIFACT
  - ps: Push-AppveyorArtifact $Env:ARTIFACT
  - mkdir %FULL_GROONGA_INSTALL_FOLDER%\share\groonga\vcruntime
  - if "%ARCH%" == "amd64" set ARCH=x64
  - ps: |
      switch -Exact ($Env:VS_VERSION) {
        "15" {
          $Env:REDIST_VERSION = (Get-Content "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\Microsoft.VCRedistVersion.default.txt")
          $Env:VCREDIST_DIR = "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\$Env:REDIST_VERSION\$Env:ARCH"
          $Env:VCREDIST_VCRUNTIME = "$Env:VCREDIST_DIR\Microsoft.VC141.CRT\vcruntime140.dll"
          $Env:VCREDIST_MSVCP = "$Env:VCREDIST_DIR\Microsoft.VC141.CRT\msvcp140.dll"
          $Env:LICENSE_FILE = $Env:APPVEYOR_BUILD_FOLDER + "\packages\windows\vcruntime\vs2017\readme.txt"
          $Env:UCRT_REDIST_DIR = "C:\Program Files (x86)\Windows Kits\10\Redist\ucrt\DLLs\$Env:ARCH"
          $Env:UCRT_LICENSE_FILE = $Env:APPVEYOR_BUILD_FOLDER + "\packages\windows\vcruntime\ucrt-readme.txt"
        }
        "14" {
          $Env:VCREDIST_DIR = "C:\Program Files (x86)\Microsoft Visual Studio $Env:VS_VERSION.0\VC\redist\$Env:ARCH"
          $Env:VCREDIST_VCRUNTIME = "$Env:VCREDIST_DIR\Microsoft.VC140.CRT\vcruntime140.dll"
          $Env:VCREDIST_MSVCP = "$Env:VCREDIST_DIR\Microsoft.VC140.CRT\msvcp140.dll"
          $Env:LICENSE_FILE = $Env:APPVEYOR_BUILD_FOLDER + "\packages\windows\vcruntime\vs2015\readme.txt"
          $Env:UCRT_REDIST_DIR = "C:\Program Files (x86)\Windows Kits\10\Redist\ucrt\DLLs\$Env:ARCH"
          $Env:UCRT_LICENSE_FILE = $Env:APPVEYOR_BUILD_FOLDER + "\packages\windows\vcruntime\ucrt-readme.txt"
        }
      }
  - copy "%VCREDIST_VCRUNTIME%" "%FULL_GROONGA_INSTALL_FOLDER%\bin"
  - copy "%VCREDIST_MSVCP%" "%FULL_GROONGA_INSTALL_FOLDER%\bin"
  - copy "%LICENSE_FILE%" "%FULL_GROONGA_INSTALL_FOLDER%\share\groonga\vcruntime"
  - ps: |
      if ($Env:UCRT_REDIST_DIR) {
        Copy-Item $Env:UCRT_REDIST_DIR\*.dll -Destination $Env:FULL_GROONGA_INSTALL_FOLDER\bin\
        Copy-Item $Env:UCRT_LICENSE_FILE -Destination $Env:FULL_GROONGA_INSTALL_FOLDER\share\groonga\vcruntime\
      }
  - set ARTIFACT=%GROONGA_INSTALL_FOLDER%-with-vcruntime.zip
  - ps: |
      Compress-Archive `
        -Path $Env:FULL_GROONGA_INSTALL_FOLDER `
        -DestinationPath $Env:ARTIFACT
  - ps: Push-AppveyorArtifact $Env:ARTIFACT
  - cd ..
