notifications:
  - provider: Webhook
    url: https://webhook.commit-email.info/

version: "{build}"
clone_depth: 10

environment:
  matrix:
    - VS_VERSION: 12
      ARCH: x86
    - VS_VERSION: 12
      ARCH: amd64
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      VS_VERSION: 14
      ARCH: x86
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      VS_VERSION: 14
      ARCH: amd64

# matrix:
#   allow_failures:
#     - VS_VERSION: 12
#       ARCH: x86

init:
  - ps: Set-WinSystemLocale ja-JP
  - ps: Start-Sleep -s 10
  - ps: Restart-Computer

install:
  - set PATH=C:\Ruby25-x64\bin;%PATH%
  - set PATH=C:\msys64\usr\bin;%PATH%
  - call
      "C:\Program Files (x86)\Microsoft Visual Studio %VS_VERSION%.0\VC\vcvarsall.bat"
      %ARCH%
  # - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - tzutil /s "Tokyo Standard Time"
  # - choco install -y imdisk-toolkit
  # - mkdir tmp
  # - imdisk -a -t file -m tmp -o awe -s 1G -p "/fs:ntfs /q /y"
  - set GROONGA_INSTALL_SUB_FOLDER=インストール
  - ps: |
      $Env:GROONGA_VERSION = (Get-Content base_version)
      if ($Env:APPVEYOR_REPO_TAG -eq "false") {
        $Env:GROONGA_VERSION += "-" + $Env:APPVEYOR_REPO_COMMIT.Substring(0, 7)
      }
      $Env:GROONGA_INSTALL_FOLDER = "groonga-" + $Env:GROONGA_VERSION
      if ($Env:ARCH -eq "x86") {
        $Env:GROONGA_INSTALL_FOLDER += "-x86"
      } else {
        $Env:GROONGA_INSTALL_FOLDER += "-x64"
      }
      $Env:FULL_GROONGA_INSTALL_FOLDER = $Env:APPVEYOR_BUILD_FOLDER + "\" + $Env:GROONGA_INSTALL_SUB_FOLDER + "\" + $Env:GROONGA_INSTALL_FOLDER

build_script:
  - git submodule update --init
  - cd vendor
  - ruby download_mecab.rb
  - ruby download_message_pack.rb
  - ruby download_lz4.rb
  - cd ..
  - set CMAKE_GENERATOR_NAME=Visual Studio %VS_VERSION%
  - if "%VS_VERSION%" == "12"
      set CMAKE_GENERATOR_NAME=%CMAKE_GENERATOR_NAME% 2013
  - if "%VS_VERSION%" == "14"
      set CMAKE_GENERATOR_NAME=%CMAKE_GENERATOR_NAME% 2015
  - if "%ARCH%" == "amd64"
      set CMAKE_GENERATOR_NAME=%CMAKE_GENERATOR_NAME% Win64
  - cmake . -G "%CMAKE_GENERATOR_NAME%"
      -DCMAKE_INSTALL_PREFIX=%FULL_GROONGA_INSTALL_FOLDER%
      -DGRN_WITH_MRUBY=yes
      -DGRN_WITH_BUNDLED_MECAB=yes
      -DGRN_WITH_BUNDLED_MESSAGE_PACK=yes
      -DGRN_WITH_BUNDLED_LZ4=yes
  - set CMAKE_BUILD_PARALLEL_LEVEL=4
  - cmake --build . --config RelWithDebInfo
  - cmake --build . --config RelWithDebInfo --target Install

before_test:
  - git clone --depth 1
      https://github.com/groonga/grntest.git
      test\command\grntest
  - cd test\command\grntest
  - bundle install --binstubs=..\bin
  - cd ..\..\..
  - del test\command\suite\select\filter\equal\vector_element_float.test
test_script:
  - ruby test\command\bin\grntest
     --groonga %FULL_GROONGA_INSTALL_FOLDER%\bin\groonga.exe
     --base-directory test\command
     --reporter mark
     --n-workers 1
     --timeout 60
     --n-retries 2
     test\command\suite

on_success:
  - cd %GROONGA_INSTALL_SUB_FOLDER%
  - set ARTIFACT=%GROONGA_INSTALL_FOLDER%.zip
  - 7z a %ARTIFACT% %FULL_GROONGA_INSTALL_FOLDER%
  - ps: Push-AppveyorArtifact $Env:ARTIFACT
  - cd ..
