[Unit]
Description=Groonga full text search HTTP server
After=network.target
Conflicts=groonga-httpd.service

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/groonga-server-http
User=groonga
Group=groonga
ExecStart=/usr/bin/groonga \
  --bind-address $ADDRESS \
  --log-path $LOG_PATH \
  --pid-path $PID_PATH \
  --port $PORT \
  --protocol http \
  --query-log-path $QUERY_LOG_PATH \
  -s \
  $DATABASE

[Install]
WantedBy=multi-user.target
