[Unit]
Description=Groonga full text search GQTP server
Documentation=https://groonga.org/docs/server/package.html#groonga-server-gqtp
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/groonga-server-gqtp
User=groonga
Group=groonga
ExecStart=/usr/bin/groonga \
  --bind-address $ADDRESS \
  --log-path $LOG_PATH \
  --pid-path $PID_PATH \
  --port $PORT \
  --protocol gqtp \
  --query-log-path $QUERY_LOG_PATH \
  -s \
  $DATABASE

[Install]
WantedBy=multi-user.target
