#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_INSTALL_DIRS_groonga =			\
	/usr/bin				\
	/usr/share/groonga/admin_html		\
	/usr/share/man/man1			\
	/etc/groonga				\
	/var/run/groonga			\
	/var/log/groonga			\
	/var/lib/groonga

DEB_INSTALL_DOCS_groonga-doc =			\
	doc/ja/html				\
	doc/ja/source

DEB_INSTALL_DIRS_libgroonga =			\
	/usr/lib

DEB_INSTALL_DIRS_libgroonga-dev =		\
	/usr/include/groonga			\
	/usr/lib/pkgconfig

DEB_INSTALL_DIRS_groonga-munin-plugins =		\
	/usr/share/munin/plugins			\
	/etc/munin/plugin-conf.d

install/groonga::
	cp -ar debian/tmp/usr/bin/* debian/groonga/usr/bin/
	cp -ar debian/tmp/usr/share/groonga/admin_html/* \
	  debian/groonga/usr/share/groonga/admin_html/
	cp -ar debian/tmp/usr/share/man/man1/* \
	  debian/groonga/usr/share/man/man1/
	cp -ar debian/tmp/etc/groonga/* \
	  debian/groonga/etc/groonga/

install/libgroonga::
	cp -ar debian/tmp/usr/lib/*groonga* debian/libgroonga/usr/lib/

install/libgroonga-dev::
	cp -ar debian/tmp/usr/include/groonga/* \
	  debian/libgroonga-dev/usr/include/groonga/
	cp -ar debian/tmp/usr/lib/pkgconfig/* \
	  debian/libgroonga-dev/usr/lib/pkgconfig/

install/groonga-munin-plugins::
	cp -ar debian/groonga-munin-plugin.conf \
	  debian/groonga-munin-plugins/etc/munin/plugin-conf.d/groonga
	cp -ar debian/tmp/usr/share/groonga/munin/plugins/* \
	  debian/groonga-munin-plugins/usr/share/munin/plugins/
