#!/usr/bin/make -f
# -*- makefile-gmake -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh --with quilt $@

# override_dh_auto_configure:
#	dh_auto_configure -- --xxx=zzz

# TODO: Remove the following codes.

DEB_INSTALL_DIRS_groonga-munin-plugins =		\
	/usr/share/munin/plugins			\
	/etc/munin/plugin-conf.d

install/groonga-munin-plugins::
	cp -ar debian/groonga-munin-plugin.conf \
	  debian/groonga-munin-plugins/etc/munin/plugin-conf.d/groonga
	cp -ar debian/tmp/usr/share/groonga/munin/plugins/* \
	  debian/groonga-munin-plugins/usr/share/munin/plugins/
