#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_INSTALL_DIRS_groonga =			\
	/usr/bin				\
	/usr/share/groonga

DEB_INSTALL_DIRS_libgroonga =			\
	/usr/lib

DEB_INSTALL_DIRS_libgroonga-dev =		\
	/usr/include/groonga			\
	/usr/lib/pkgconfig

install/groonga::
	cp -ar debian/tmp/usr/bin/* debian/groonga/usr/bin/
	cp -ar debian/tmp/usr/share/groonga/* \
	  debian/groonga/usr/share/groonga/

install/libgroonga::
	cp -ar debian/tmp/usr/lib/libgroonga* debian/libgroonga/usr/lib/

install/libgroonga-dev::
	cp -ar debian/tmp/usr/include/groonga/* \
	  debian/libgroonga-dev/usr/include/groonga/
	cp -ar debian/tmp/usr/lib/pkgconfig/* \
	  debian/libgroonga-dev/usr/lib/pkgconfig/
