name: Lint
on:
  push:
    branches:
      - main
      - 'maintenance/**'
    tags:
      - '*'
  pull_request:
concurrency:
  group: ${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pre-commit
        run: |
          python -m pip install pre-commit
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Run pre-commit
        run: |
          set -o pipefail
          pre-commit run --show-diff-on-failure --color=always --all-files | \
            tools/filter-github-actions-workflow-command.rb
  doxygen:
    name: Doxygen
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
      - name: Install doxygen
        run: sudo apt install -y -V doxygen graphviz
      - name: Run doxygen
        run: rake document:api
