name: Release
on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
    secrets:
      token:
        required: true
jobs:
  page:
    name: Release Page
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create release page
        run: |
          (cd doc/source/news && \
           ruby \
             -e 'print("## Groonga "); \
                 puts(ARGF.read.split(/^## Release /)[1]. \
                        gsub(/^\(.+\)=$/, ""). \
                        gsub(/{doc}`(.+?)`/) { \
                          id = $1; \
                          title = id.split("\/").last; \
                          path = id.delete_prefix("/"); \
                          url = "https://groonga.org/docs/#{path}.html"; \
                          "[#{title}](#{url})"; \
                        }. \
                        gsub(/{ref}`(.+?)`/) {$1}.
                        strip)' \
             $(ls *.md | sort --human-numeric-sort | tail -n1)) > \
            release-note.md
          echo "" >> release-note.md
          echo "### Translations" >> release-note.md
          echo "" >> release-note.md
          tag=${{ inputs.tag }}
          version=${tag#v}
          major_version=${version%%.*}
          version_hyphen=$(echo ${version} | tr . -)
          echo "  * [Japanese](https://groonga.org/ja/docs/news/${major_version}.html#release-${version_hyphen})" >> release-note.md
          title="$(head -n1 release-note.md | sed -e 's/^## //')"
          tail -n +2 release-note.md > release-note-without-version.md
          gh release create "${tag}" \
            --discussion-category Releases \
            --notes-file release-note-without-version.md \
            --title "${title}" || :
        env:
          GH_TOKEN: ${{ secrets.token }}
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true
      - name: Upload to release
        run: |
          cd artifacts
          gh release upload "${{ inputs.tag }}" \
            groonga-*.tar.gz \
            groonga-*.zip \
            document-*.tar.gz \
            *-amd64.tar.gz \
            *-arm64.tar.gz \
            *-x86_64.tar.gz \
            *-aarch64.tar.gz
        env:
          GH_TOKEN: ${{ secrets.token }}
