name: "Windows MinGW"
on:
  - push
  - pull_request
jobs:
  build:
    name: Build
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install MSYS2
        shell: cmd
        run: |
          git clone ^
            --depth 1 ^
            https://github.com/msys2/msys2-ci-base.git ^
            %CD:~0,2%\msys64
      - name: Prepare environment
        shell: cmd
        run: |
          echo set MSYS_ROOT=%CD:~0,2%\msys64>> environment.bat
          echo set PATH=%%MSYS_ROOT%%\usr\bin;%%PATH%%>> environment.bat
          echo set PATH=%%MSYS_ROOT%%\mingw64\bin;%%PATH%%>> environment.bat
          echo set MSYSTEM=MINGW64>> environment.bat
          type environment.bat
          call environment.bat
          set
      - name: Install dependencies
        shell: cmd
        run: |
          call environment.bat
          pacman --sync --yy --noconfirm --sysupgrade
          pacman --sync --noconfirm --needed ^
            git ^
            mingw-w64-x86_64-gcc ^
            mingw-w64-x86_64-python3-pip ^
            mingw-w64-x86_64-ruby ^
            mingw-w64-x86_64-xxhash ^
            mingw-w64-x86_64-zlib
            pip3 install -U Sphinx
      - name: Generate configure
        shell: cmd
        run: |
          call environment.bat
          bash autogen.sh
      - name: Configure for archive
        shell: cmd
        run: |
          call environment.bat
          bash configure ^
            --enable-document ^
            --enable-mruby ^
            --with-ruby ^
            --without-zlib
      - name: Build archive
        shell: cmd
        run: |
          call environment.bat
          make dist
      - name: Configure
        shell: cmd
        run: |
          call environment.bat
          mkdir ../groonga.build
          cd ../groonba.build
          bash ../groonga/configure ^
            --disable-groonga-httpd ^
            --enable-mruby ^
            --enable-shared-onigmo ^
            --with-ruby
      - name: Build
        shell: cmd
        run: |
          call environment.bat
          cd ../groonba.build
          make -j%NUMBER_OF_PROCESSORS%
      - name: Install
        shell: cmd
        run: |
          call environment.bat
          cd ../groonba.build
          make install
