name: "Windows MinGW"
on:
  - push
  - pull_request
jobs:
  test:
    name: Test
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            autoconf
            automake-wrapper
            git
            make
            mingw-w64-x86_64-arrow
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-libtool
            mingw-w64-x86_64-mecab
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-python3-pip
            mingw-w64-x86_64-ruby
            mingw-w64-x86_64-xxhash
            mingw-w64-x86_64-zlib
            patch
      - name: Generate configure
        shell: msys2 {0}
        run: |
          ./autogen.sh
      - name: Apply a patch
        shell: msys2 {0}
        run: |
          patch -p1 < packages/source/patches/mruby-do-not-check-fd-for-stdin-stdout-stderr.diff
      - name: Configure
        shell: msys2 {0}
        run: |
          mkdir ../groonga.build
          cd ../groonga.build
          ../groonga/configure \
            --disable-benchmark \
            --disable-groonga-httpd \
            --enable-mruby \
            --enable-shared-onigmo \
            --prefix=/tmp/local \
            --with-ruby
      - name: Show config.log
        shell: msys2 {0}
        if: always()
        run: |
          cat ../groonga.build/config.log
      - name: Build
        shell: msys2 {0}
        run: |
          cd ../groonga.build
          make -j${NUMBER_OF_PROCESSORS}
      - name: Install
        shell: msys2 {0}
        run: |
          cd ../groonga.build
          make install
      - name: Install grntest
        shell: msys2 {0}
        run: |
          git clone --depth 1 \
            https://github.com/groonga/grntest.git \
            ..\grntest
          cd ..\grntest
          /mingw64/bin/bundle.cmd install
          /mingw64/bin/bundle.cmd exec rake install
      - name: Install red-arrow
        shell: msys2 {0}
        run: |
          gem install red-arrow
      - name: "Test: command line"
        shell: msys2 {0}
        run: |
          ruby test/command_line/run-test.rb \
            --groonga-install-prefix="$(cygpath --windows /tmp/local)"
      - name: "Test: HTTP: reference count"
        shell: msys2 {0}
        run: |
          export GRN_ENABLE_REFERENCE_COUNT=yes
          grntest \
            --base-directory test\command \
            --groonga "/tmp/local/bin/groonga.exe" \
            --interface http \
            --n-retries 2 \
            --n-workers ${NUMBER_OF_PROCESSORS} \
            --read-timeout=30 \
            --timeout 60 \
            test\command\suite
      - name: "Test: HTTP: Apache Arrow: chunked"
        shell: msys2 {0}
        run: |
          grntest \
            --base-directory test\command \
            --groonga "/tmp/local/bin/groonga.exe" \
            --input-type apache-arrow \
            --interface http \
            --n-retries 2 \
            --n-workers ${NUMBER_OF_PROCESSORS} \
            --read-timeout=30 \
            --timeout 360 \
            --use-http-chunked \
            test\command\suite
