name: "Windows MSVC"
on:
  push:
    branches:
      - master
      - 'maintenance/**'
    tags:
      - '*'
  pull_request:
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}
jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        label:
          - Visual Studio 2019 x64
          - Visual Studio 2019 x86
          - Visual Studio 2017 x64
          - Visual Studio 2017 x86
        include:
          - label: Visual Studio 2019 x64
            architecture: x64
            cmake-architecture: x64
            cmake-generator: Visual Studio 16 2019
            runs-on: windows-2019
            vc-architecture: x64
            vc-toolset-version: 142
            vs-version: 2019
          - label: Visual Studio 2019 x86
            architecture: x86
            cmake-architecture: Win32
            cmake-generator: Visual Studio 16 2019
            runs-on: windows-2019
            vc-architecture: x64_x86
            vc-toolset-version: 142
            vs-version: 2019
          - label: Visual Studio 2017 x64
            architecture: x64
            cmake-generator: Visual Studio 15 2017 Win64
            runs-on: windows-2016
            vc-architecture: x64
            vc-toolset-version: 141
            vs-version: 2017
          - label: Visual Studio 2017 x86
            architecture: x86
            cmake-generator: Visual Studio 15 2017
            runs-on: windows-2016
            vc-architecture: x64_x86
            vc-toolset-version: 141
            vs-version: 2017
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Disable crash dialog
        run: |
          reg add "HKCU\SOFTWARE\Microsoft\Windows\Windows Error Reporting" `
            /v DontShowUI `
            /t REG_DWORD `
            /d 1 `
            /f
      - name: Use JST
        run: |
          Set-TimeZone -Id "Tokyo Standard Time"
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Download bundled packages
        run: |
          cd vendor
          ruby download_groonga_normalizer_mysql.rb
          ruby download_lz4.rb
          ruby download_mecab.rb
          ruby download_message_pack.rb
          ruby download_rapidjson.rb
          ruby download_xxhash.rb
      - name: Set environments
        id: env
        run: |
          Write-Output "CMAKE_BUILD_PARALLEL_LEVEL=${Env:NUMBER_OF_PROCESSORS}" | `
            Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

          $GROONGA_VERSION = (Get-Content base_version)
          if (!("${Env:GITHUB_REF}".StartsWith("refs/tags/"))) {
            $GROONGA_VERSION += "-$(${Env:GITHUB_SHA}.Substring(0, 7))"
          }
          Write-Output "GROONGA_VERSION=${GROONGA_VERSION}" | `
            Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

          $INSTALL_FOLDER = "groonga-${GROONGA_VERSION}-${{ matrix.architecture }}-vs${{ matrix.vs-version }}"
          $INSTALL_FOLDER_WITH_VCRUNTIME = "${INSTALL_FOLDER}-with-vcruntime"
          $INSTALL_PARENT_FOLDER = "install"
          $INSTALL_PARENT_FOLDER_WITH_VCRUNTIME = `
            "${INSTALL_PARENT_FOLDER}-with-vcruntime"
          $RELATIVE_INSTALL_FOLDER = "${INSTALL_PARENT_FOLDER}\${INSTALL_FOLDER}"
          $RELATIVE_INSTALL_FOLDER_WITH_VCRUNTIME = `
            "${INSTALL_PARENT_FOLDER_WITH_VCRUNTIME}\${INSTALL_FOLDER_WITH_VCRUNTIME}"
          $FULL_INSTALL_FOLDER = `
            "${Env:GITHUB_WORKSPACE}\${RELATIVE_INSTALL_FOLDER}"
          $FULL_INSTALL_FOLDER_WITH_VCRUNTIME = `
            "${Env:GITHUB_WORKSPACE}\${RELATIVE_INSTALL_FOLDER_WITH_VCRUNTIME}"
          Write-Output "INSTALL_FOLDER=${INSTALL_FOLDER}" | `
            Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          Write-Output "INSTALL_FOLDER_WITH_VCRUNTIME=${INSTALL_FOLDER_WITH_VCRUNTIME}" | `
            Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          Write-Output "FULL_INSTALL_FOLDER=${FULL_INSTALL_FOLDER}" | `
            Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          Write-Output "FULL_INSTALL_FOLDER_WITH_VCRUNTIME=${FULL_INSTALL_FOLDER_WITH_VCRUNTIME}" | `
            Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

          $VC_PREFIX = "C:\Program Files (x86)\Microsoft Visual Studio\${{ matrix.vs-version }}\Enterprise\VC"
          Write-Output "VC_PREFIX=${VC_PREFIX}" | `
            Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

          Write-Output "::set-output name=install-folder::${INSTALL_FOLDER}"
          Write-Output "::set-output name=install-parent-folder::${INSTALL_PARENT_FOLDER}"
          Write-Output "::set-output name=relative-install-folder::${RELATIVE_INSTALL_FOLDER}"
          Write-Output "::set-output name=install-folder-with-vcruntime::${INSTALL_FOLDER_WITH_VCRUNTIME}"
          Write-Output "::set-output name=install-parent-folder-with-vcruntime::${INSTALL_PARENT_FOLDER_WITH_VCRUNTIME}"
          Write-Output "::set-output name=relative-install-folder-with-vcruntime::${RELATIVE_INSTALL_FOLDER_WITH_VCRUNTIME}"
      - name: Set version
        run: |
          "GRN_VERSION=${Env:GROONGA_VERSION}" | Set-Content version.sh
      - name: Install Apache Arrow
        if: |
          matrix.architecture == 'x64'
        run: |
          New-Item ..\apache-arrow-build -ItemType Directory
          $CMAKE_ARGS = (
            "-S", "vendor\apache-arrow-source\cpp",
            "-B", "..\apache-arrow-build",
            "-G", "${{ matrix.cmake-generator }}",
            "-DARROW_COMPUTE=ON",
            "-DBOOST_SOURCE=BUNDLED",
            "-DCMAKE_BUILD_TYPE=Release",
            "-DCMAKE_INSTALL_PREFIX=${Env:FULL_INSTALL_FOLDER}",
            "-DCMAKE_UNITY_BUILD=ON"
          )
          if ("${{ matrix.cmake-architecture }}" -ne "") {
            $CMAKE_ARGS += ("-A", "${{ matrix.cmake-architecture }}")
          }
          cmake ${CMAKE_ARGS}
          cmake --build ..\apache-arrow-build --config Release
          cmake --build ..\apache-arrow-build --config Release --target Install
      - name: Install Groonga
        shell: cmd
        run: |
          call "%VC_PREFIX%\Auxiliary\Build\vcvarsall.bat" ${{ matrix.vc-architecture }}
          mkdir ..\groonga-build
          set CMAKE_ARGS=-S .
          set CMAKE_ARGS=%CMAKE_ARGS% -B ..\groonga-build
          if not "${{ matrix.cmake-architecture }}" == "" (
            set CMAKE_ARGS=%CMAKE_ARGS% -A ${{ matrix.cmake-architecture }}
          )
          set CMAKE_ARGS=%CMAKE_ARGS% -G "${{ matrix.cmake-generator }}"
          set CMAKE_ARGS=%CMAKE_ARGS% "-DCMAKE_INSTALL_PREFIX=%FULL_INSTALL_FOLDER%"
          set CMAKE_ARGS=%CMAKE_ARGS% -DCMAKE_BUILD_TYPE=RelWithDebInfo
          if "${{ matrix.architecture }}" == "x64" (
            set CMAKE_ARGS=%CMAKE_ARGS% -DGRN_WITH_APACHE_ARROW=yes
          )
          set CMAKE_ARGS=%CMAKE_ARGS% -DGRN_WITH_MRUBY=yes
          set CMAKE_ARGS=%CMAKE_ARGS% -DGRN_WITH_XXHASH=bundled
          set CMAKE_ARGS=%CMAKE_ARGS% -DGRN_WITH_ZSTD=bundled
          cmake %CMAKE_ARGS%
          type ..\groonga-build\CMakeFiles\CMakeError.log
          cmake --build ..\groonga-build --config RelWithDebInfo
          cmake --build ..\groonga-build --config RelWithDebInfo --target Install
      - name: Install Groonga Admin
        run: |
          cd "${Env:FULL_INSTALL_FOLDER}\share\groonga\html"
          Move-Item admin admin.old
          Invoke-WebRequest `
            -Uri "https://packages.groonga.org/source/groonga-admin/groonga-admin.tar.gz" `
            -OutFile "groonga-admin.tar.gz"
          tar xf groonga-admin.tar.gz
          Remove-Item groonga-admin.tar.gz -Force
          Move-Item groonga-admin-*\html admin
          Remove-Item groonga-admin-*\source -Force -Recurse
          Move-Item groonga-admin-* ..\groonga-admin

      # Artifact
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.env.outputs.install-folder }}
          path: ${{ steps.env.outputs.install-parent-folder }}
      - name: Prepare artifacts with VC++ runtime
        run: |
          Set-PSDebug -Trace 2

          New-Item `
            -Path "${Env:FULL_INSTALL_FOLDER_WITH_VCRUNTIME}\.." `
            -ItemType Directory
          Copy-Item -Recurse `
             "${Env:FULL_INSTALL_FOLDER}" `
             "${Env:FULL_INSTALL_FOLDER_WITH_VCRUNTIME}"
          $GROONGA_VC_REDIST_LICENSE_DIR = `
            "${Env:FULL_INSTALL_FOLDER_WITH_VCRUNTIME}\share\groonga\vcruntime"
          New-Item `
            -Path "${GROONGA_VC_REDIST_LICENSE_DIR}" `
            -ItemType Directory

          $VC_REDIST_VERSION = (Get-Content "${Env:VC_PREFIX}\Auxiliary\Build\Microsoft.VCRedistVersion.default.txt")
          $VC_REDIST_DIR = "${Env:VC_PREFIX}\Redist\MSVC\${VC_REDIST_VERSION}\${{ matrix.architecture }}\Microsoft.VC${{ matrix.vc-toolset-version }}.CRT"
          $VC_REDIST_VCRUNTIME = "${VC_REDIST_DIR}\vcruntime140.dll"
          $VC_REDIST_VCRUNTIME_1 = "${VC_REDIST_DIR}\vcruntime140_1.dll"
          $VC_REDIST_MSVCP = "${VC_REDIST_DIR}\msvcp140.dll"
          Copy-Item `
            ${VC_REDIST_VCRUNTIME} `
            "${Env:FULL_INSTALL_FOLDER_WITH_VCRUNTIME}\bin"
          if (Test-Path ${VC_REDIST_VCRUNTIME_1}) {
            Copy-Item `
              ${VC_REDIST_VCRUNTIME_1} `
              "${Env:FULL_INSTALL_FOLDER_WITH_VCRUNTIME}\bin"
          }
          Copy-Item `
            ${VC_REDIST_MSVCP} `
            "${Env:FULL_INSTALL_FOLDER_WITH_VCRUNTIME}\bin"
          Copy-Item `
            "${Env:GITHUB_WORKSPACE}\packages\windows\vcruntime\vs${{ matrix.vs-version }}\readme.txt" `
            ${GROONGA_VC_REDIST_LICENSE_DIR}

          $UCRT_REDIST_DIR = "C:\Program Files (x86)\Windows Kits\10\Redist\ucrt\DLLs\${{ matrix.architecture }}"
          Copy-Item `
            "${UCRT_REDIST_DIR}\*.dll" `
            "${Env:FULL_INSTALL_FOLDER_WITH_VCRUNTIME}\bin"
          Copy-Item `
            "${Env:GITHUB_WORKSPACE}\packages\windows\vcruntime\ucrt-readme.txt" `
            ${GROONGA_VC_REDIST_LICENSE_DIR}
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.env.outputs.install-folder-with-vcruntime }}
          path: ${{ steps.env.outputs.install-parent-folder-with-vcruntime }}

      # Release
      - name: Ensure creating release
        if: |
          startsWith(github.ref, 'refs/tags/')
        id: create-release
        uses: actions/github-script@0.4.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const AsyncFunction = Object.getPrototypeOf(async () => {}).constructor
            const fs = require("fs");
            const path = ".github/workflows/ensure-creating-release.js";
            const script = fs.readFileSync(path).toString();
            const func = new AsyncFunction("require", "github", "context", script);
            return await func(require, github, context);
      - name: Compress the artifact without VC++ runtime
        if: |
          startsWith(github.ref, 'refs/tags/')
        run: |
          pushd "${Env:FULL_INSTALL_FOLDER}\.."
          Compress-Archive `
            -Path ${Env:INSTALL_FOLDER} `
            -DestinationPath "${Env:FULL_INSTALL_FOLDER}.zip"
          popd
      - name: Upload the artifact without VC++ runtime to release
        uses: actions/upload-release-asset@v1.0.1
        if: |
          startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.result }}
          asset_path: ${{ steps.env.outputs.relative-install-folder }}.zip
          asset_name: ${{ steps.env.outputs.install-folder }}.zip
          asset_content_type: application/zip
      - name: Compress the artifact with VC++ runtime
        if: |
          startsWith(github.ref, 'refs/tags/')
        run: |
          pushd "${Env:FULL_INSTALL_FOLDER_WITH_VCRUNTIME}\.."
          Compress-Archive `
            -Path ${Env:INSTALL_FOLDER_WITH_VCRUNTIME} `
            -DestinationPath "${Env:FULL_INSTALL_FOLDER_WITH_VCRUNTIME}.zip"
          popd
      - name: Upload the artifact with VC++ runtime to release
        uses: actions/upload-release-asset@v1.0.1
        if: |
          startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.result }}
          asset_path: ${{ steps.env.outputs.relative-install-folder-with-vcruntime }}.zip
          asset_name: ${{ steps.env.outputs.install-folder-with-vcruntime }}.zip
          asset_content_type: application/zip

      # Test
      - name: Update MSYS2
        run: |
          ridk exec pacman --sync --refresh --sysupgrade --sysupgrade --noconfirm
          taskkill /F /FI "MODULES eq msys-2.0.dll"
          ridk exec pacman --sync --refresh
      - name: Update GCC
        run: |
          ridk exec pacman --remove --noconfirm --unneeded `
            mingw-w64-x86_64-gcc-ada `
            mingw-w64-x86_64-gcc-fortran `
            mingw-w64-x86_64-gcc-libgfortran `
            mingw-w64-x86_64-gcc-objc `
            mingw-w64-x86_64-libgccjit
          ridk exec pacman --sync --noconfirm mingw-w64-x86_64-gcc
      - name: Install grntest
        run: |
          git clone --depth 1 `
            https://github.com/groonga/grntest.git `
            ..\grntest
          cd ..\grntest
          bundle install
          bundle exec ruby -rdevkit -S rake install
      - name: Install Red Arrow
        if: |
          matrix.architecture == 'x64'
        run: |
          ridk exec pacman --sync --noconfirm mingw-w64-x86_64-arrow
          $Env:MAKEFLAGS = "-j${Env:NUMBER_OF_PROCESSORS}"
          gem install red-arrow
      - name: "Test: command line"
        run: |
          ruby test\command_line\run-test.rb `
            --groonga-install-prefix="${Env:FULL_INSTALL_FOLDER}"
      - name: "Test: HTTP: reference count"
        run: |
          $Env:GRN_ENABLE_REFERENCE_COUNT = "yes"
          grntest `
            --base-directory test\command `
            --groonga "${Env:FULL_INSTALL_FOLDER}\bin\groonga.exe" `
            --interface http `
            --n-retries 2 `
            --n-workers ${Env:NUMBER_OF_PROCESSORS} `
            --read-timeout=30 `
            --reporter mark `
            --timeout 60 `
            test\command\suite
      - name: "Test: HTTP: Apache Arrow: chunked"
        if: |
          matrix.architecture == 'x64'
        run: |
          grntest `
            --base-directory test\command `
            --groonga "${Env:FULL_INSTALL_FOLDER}\bin\groonga.exe" `
            --input-type apache-arrow `
            --interface http `
            --n-retries 2 `
            --n-workers ${Env:NUMBER_OF_PROCESSORS} `
            --read-timeout=30 `
            --reporter mark `
            --timeout 360 `
            --use-http-chunked `
            test\command\suite
